.advantages {
  padding-bottom: 80px;

  @include tablets {
    padding-bottom: 40px;
  }
}

.advantages__item {
  min-height: 355px;
  text-align: center;
  align-items: center;
  display: flex;
}

.advantages__item--1 {
  background: url("../img/features-1.jpg") no-repeat center/cover;
}

.advantages__item--2 {
  background: url("../img/features-2.jpg") no-repeat center/cover;
}

.advantages__item--3 {
  background: url("../img/features-3.jpg") no-repeat center/cover;
}

.advantages__item--4 {
  background: url("../img/features-4.jpg") no-repeat center/cover;
}

.advantages__item--5 {
  background: url("../img/features-5.jpg") no-repeat center/cover;
}

.advantages__item--6 {
  background: url("../img/features-6.jpg") no-repeat;
}


.advantages__desc {
  font-size: 23px;
  font-weight: 400;
  color: $white;
  background: rgba(0,0,0, 0.6);
  padding: 40px 0;
  text-align: center;
  width: 100%;
}