.header__burger {
display: none;

  @include tablets {
    display: block;
    position: absolute;
    right: 29px;
    top: 73px;
    padding-right: 10px;
  }

}

.header__burger-button {
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
  background: $white;
  width: 25px;
  height: 3px;
  z-index: 5;
  transition: 0.3s;

  &:focus {
    outline: none;
  }

  &:after {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    background: $white;
    top: 6px;
    left: 0;
    z-index: 5;
    transition: 0.3s;
  }

  &:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    background: $white;
    top: -6px;
    left: 0;
    z-index: 5;
    transition: 0.3s;
  }

  &--active {
    background: transparent;
    transition: 0.3s;

    &:after {
      transform: translateY(5px) rotate(-45deg);
      transition: 0.3s;
      top: -5px;
    }

    &:before {
      transform:  translateY(6px) rotate(45deg);
      transition: 0.3s;
    }

  }

}